<div class="modal fade bs-example-modal-lg" data-keyboard="false" data-backdrop="static" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close cclose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cclose" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary submit">确定</button>
            </div>
        </div>
    </div>
    <p class="text-info hidden modal-loadding">加载数据中，请稍候...</p>
</div>

<div class="modal fade bs-example-modal-lg" data-keyboard="false" data-backdrop="static" id="bulkModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close cclose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cclose" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary submit">确定</button>
            </div>
        </div>
    </div>
    <p class="text-info hidden modal-loadding">加载数据中，请稍候...</p>
</div>
<script src="/Administration/Scripts/modal.js"></script>
